/* Styling for new tweet form */
.new-tweet {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100vw;
}

#new-tweet-text {
  width: 80vw;
  border: none;
  border-bottom: $tweet-border;
  background: none;
  resize: none;
  overflow: hidden;
}

#new-tweet-text::placeholder {
  color: #555149;
  font-weight: 600;
}

#new-tweet-text:focus {
  outline: none;
}

.new-tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', sans-serif;
  height: 2rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  button {
    background-color: $theme-color;
    color: #ffffff;
    font-size: 1.25rem;
    border-radius: 5px;
    padding: 0.3rem;
  }

  button:hover {
    cursor: pointer;
  }
}

/* Desktop stylings for new tweet form */
@media screen and (min-width: 1024px) {
  .new-tweet {
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  #new-tweet-text {
    width: 40vw;
    align-self: center;
  }
}

/* Red for negative char counter */
.red-text {
  color: #ff0000;
}

.tweet-error {
  display: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  text-align: center;
  width: 85vw;
  padding: 0.5rem;
  margin-top: 1rem;
  color: #ff0000;
  border: 5px solid #ff0000;
  border-radius: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .tweet-error {
    width: 70%;
    margin-top: 0;
  }
}
