.new-tweet {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100vw;
}

@media screen and (min-width: 1024px) {
  .new-tweet {
    width: 66.7%;
    margin-bottom: 0;
  }
}

#new-tweet-text {
  height: 10%;
  width: 80vw;
  border: none;
  border-bottom: 5px solid #555149;
  background: none;
  resize: none;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  #new-tweet-text {
    width: 66.7%;
    align-self: center;
    /* align-self: flex-end; */
  }
}

#new-tweet-text:focus {
  outline: none;
}

::placeholder {
  color: #555149;
  font-weight: 600;
}

.new-tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', sans-serif;
  height: 2rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.new-tweet-footer button {
  background-color: #4056a1;
  color: #ffffff;
  font-size: 1.25rem;
  border-radius: 5px;
  padding: 0.3rem;
}

.new-tweet-footer button:hover {
  cursor: pointer;
}

.red-text {
  color: #ff0000;
}

.tweet-error {
  display: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  text-align: center;
  width: 85vw;
  padding: 0.5rem;
  color: #ff0000;
  border: 5px solid #ff0000;
  border-radius: 0.5rem;
}
