article.tweet {
  display: flex;
  flex-direction: column;
  border: 5px solid #555149;
  color: #555149;
  font-weight: 400;
  height: 275px;
  width: 800px;
  margin: 2rem;
}

/* Apply to 'article.tweet' when hovered */
article.tweet:hover {
  box-shadow: 10px 10px 5px #989cac;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  top: 0;
}

/* Apply to children of .tweet header */
article.tweet header > * {
  display: flex;
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.tweet-info p {
  display: flex;
  align-items: center;
  font-weight: 300;
}

.tweet-avatar {
  margin-right: 1.75rem;
  margin-top: 0.6rem;
  height: 64px;
  width: 64px;
}

.tweet-handle {
  color: #7f8392;
}

.tweet-handle:hover {
  color: #a5adca;
}

.tweet-body p {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-bottom: 1rem;
  line-height: 2rem;
  word-wrap: break-word;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  margin-top: 0.33rem;
  border-top: 5px solid #555149;
}

/* Apply to children of .tweet footer */
article.tweet footer > * {
  font-size: 1rem;
  margin: 1.25rem;
}

/* Apply to all icons on a tweet footer */
.tweet-interaction-icons > * {
  margin: 0.5rem;
  margin-top: 0.25rem;
}
