article.tweet {
  display: flex;
  flex-direction: column;
  border: 5px solid #555149;
  color: #555149;
  font-weight: 400;
  height: 250px;
  width: 800px;
  margin: 30px;
}

/* Apply to 'article.tweet' when hovered */
article.tweet:hover {
  box-shadow: 10px 10px 5px #989cac;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  top: 0;
}

/* Apply to children of .tweet header */
article.tweet header > * {
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
}

.tweet-info p {
  display: flex;
  align-items: center;
  font-weight: 300;
}

.tweet-avatar {
  margin-right: 25px;
  margin-top: 10px;
  height: 64px;
  width: 64px;
}

.tweet-handle {
  color: #7f8392;
}

.tweet-handle:hover {
  color: #a5adca;
}

.tweet-body p {
  margin-left: 40px;
  margin-bottom: 15px;
  line-height: 30px;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  margin-top: 5px;
  border-top: 5px solid #555149;
}

/* Apply to children of .tweet footer */
article.tweet footer > * {
  font-size: 16px;
  margin: 15px;
}

/* Apply to all icons on a tweet footer */
.tweet-interaction-icons > * {
  margin: 7px;
  margin-top: 3px;
}
